//Color
$grey: #5e5858;
$red: #FF7272;
$green: #21a87d;
$blue: #489CC1;
$background: #FAFAFA;

//Gradient
$primaryGradient: linear-gradient(145deg, #f0f0f0, #fafafa);
$btnHoverGradient: linear-gradient(145deg, #f0f0f0, #cacaca);

//Box-shadow
$primaryShadow: 6px 6px 13px #bcbcbc, -6px -6px 13px #ffffff;
$btnActiveShadow: 6px 6px 13px #bcbcbc inset, -6px -6px 13px #ffffff inset;